.pager {
  margin-top: 40px;
  margin-bottom: 40px;
}

.custom-pagination {
  max-width: 230px;
  min-width: 100px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-pagination::-webkit-scrollbar {
  display: none;
}

.page-link {
  color: #eb5b00;
}

a.page-link.active {
  background-color: #eb5b00 !important;
  border-color: #eb5b00 !important;
}

a.page-link:hover {
  color: #eb5b00 !important;
}
